/*------------ABOUT TAB------------*/
.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 5vw;
    align-content: center;
}

.video-interaction {
    justify-self: right;
    grid-column: 1;
}
.intro-text-container {
    display: flex;
    grid-column: 2;
    justify-content: left;
    align-items: flex-end;
    max-width: 860px;
    min-width: 320px;
    gap: 16px;
}


.intro-text-container h2{
    text-align: left;
    font-size: 1.7rem;
    font-weight: 700;
    width: auto;
    margin: 0;
}

.intro-text-container h4 {
    font-weight: 400;
    font-size: 1.35rem;
    margin-bottom: 0;
    margin-top: 20px;
}

.about-text {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

#justify {
    max-width: 800px;
    min-width: 300px;
    padding: 0 5vw 50px 5vw;
}